@import "./../../styles.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header {
    width: 75%;
}

.header h1, .header h2 {
    margin-bottom: 10px;
}

.game img {
    width: 12rem;
    margin-bottom: 5px;
}

.description p {
    font-size: 14px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    flex-wrap: wrap;

    .images {
        display: flex;
    }

}


.team {
    width: 20rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

}


.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.h2 {
    font-size: 30px;
}

@media (max-width: 768px) {     
    .header {
        width: 100%;
    }
}

