/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

$ueh-palette: mat.$indigo-palette;
@include mat.core();

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

$ueh-primary: rgb(199, 9, 97);
$ueh-hover: rgb(228, 64, 141);
$ueh-accent: rgb(24, 115, 132);
$ueh-opacity: rgba(0, 0, 0, 0.74);


// The "warn" palette is optional and defaults to red if not specified.
$ueh-warn: mat.define-palette(mat.$red-palette);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.dark-theme {
  background: transparent !important;
  color: white; 
}

.customize + * .mat-menu-panel {
  background: rgb(0, 0, 0);
  color: white;
}

body {
  background-image: url("./assets/img/BACKGROUND.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

.opacity {
  background: $ueh-opacity;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}


.overwrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0rem 0 4rem 10rem;
}

.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  color: $ueh-primary;
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.discord-button {
  font-size: 20px;
  padding: 2rem 30px;
  border-radius: 0;
  background-color: $ueh-primary !important;
  color: white;
  max-width: 14rem;
  min-width: 12rem;
  max-height: 4rem;
}

.discord-button:hover {
  background-color: $ueh-hover !important;
}

button {
  a {
    color: white;
    text-decoration: none;
  }
}

// TABLET VIEW
@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
  .overwrap {
    margin: 0 1rem 1rem 1rem;
    width: 90vw;
    width: 100%;
  }
  .spacer {
    display: none;
  }

  .column {
    margin: 1rem;
    padding: 1rem;
  }
}


@media (max-width: 768px) { 
  .container {
      padding-bottom: 5rem;
  }
  .overwrap {
      width: 90vw;
  }
}