<mat-toolbar class="head" color="primary">
    <button mat-icon-button aria-label="Toggle Menu" [matMenuTriggerFor]="menu" class="mobile dark-theme">
        <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="./../../assets/img/LogoUEH.png">
    <span class="spacer"></span>
    <span>University eSports Hannover</span>
    <span class="spacer"></span>
    <mat-icon class="icon">language</mat-icon>
</mat-toolbar>

<div class="banner">
    <img class="image" src="./../../assets/img/ueh_banner.png">
</div>

<!-- <mat-sidenav-container >
    <mat-sidenav [opened]="isShowing" #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="home">Home</a>
            <a mat-list-item routerLink="teams">Teams</a>
            <a mat-list-item routerLink="community">Community</a>
            <a mat-list-item routerLink="impressum">Impressum</a>
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content>

        <div> test
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-menu #menu="matMenu" class="mobile" backdropClass="customize">
    <button mat-menu-item routerLink="home">Home</button>
    <button mat-menu-item routerLink="teams">Teams</button>
    <button mat-menu-item routerLink="community">Community</button>
    <button mat-menu-item routerLink="impressum">Impressum</button>
  </mat-menu>

<mat-toolbar class="nav opacity" color="primary">
    <mat-toolbar-row>
        <a class="big-font" mat-button routerLink="home" routerLinkActive="active-link">Home</a>
        <a class="big-font"mat-button routerLink="teams" routerLinkActive="active-link">Teams</a>
        <a class="big-font"mat-button routerLink="games" routerLinkActive="active-link">Games</a>
        <a class="big-font" mat-button routerLink="community" routerLinkActive="active-link">Community</a>
        <a class="big-font" mat-button routerLink="impressum" routerLinkActive="active-link">Impressum</a>
    </mat-toolbar-row>
</mat-toolbar>



<div class="content opacity">
    <router-outlet></router-outlet>
</div>

<footer class="footer opacity">
    <div class="column">
      <ul class="social-icons">
        <li><a href="https://www.instagram.com/university_esports_hannover/?hl=en"><img src="../../assets/img/instagram.webp" alt="Instagram"></a></li>
      <li><a href="https://www.facebook.com/luhesports/?locale=de_DE"><img src="../../assets/img/facebook.webp" alt="Twitter"></a></li>
      <li><a href="https://twitter.com/UeHannover"><img src="../../assets/img/x.webp" alt="Instagram"></a></li>
    </ul>
    </div>
    <div class="column">
      <button mat-flat-button class="discord-button"><a href="https://discord.gg/7S6DgP8GgE" alt="Discord">Join our Discord</a></button>
    </div>
    <div class="column">
      <h3>Contact Us</h3>
      <p>Email: </p>
    </div>
  </footer>
  