@import "./../../styles.scss";


.games {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
    margin-bottom: 10rem;
    width: 100%;
}

.inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 2rem;
}

.game-card {
    border-radius: 3rem;
    border-color: $ueh-primary;
    border-style: solid;
    border-width: 5px;
    // glow effect for border 
    box-shadow: 0 0 20px $ueh-primary;
    width: 15rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // glow effect on hover 
    &:hover {
        box-shadow: 0px 0 30px $ueh-hover;
    }

}

a {
    width: 100%;
}

img {
    width: 100%;
    max-height: 100%;
    
}

.overwrap {
    width: 100%;
}


@media (max-width: 768px) { 

    .item {
        padding: 1rem;
    }

    img {
        min-width: 0;
    }
}