@import "./../../styles.scss";

.overwrap {
    width: 100%;
}


.mini-spacer {
    height: 2rem;
}

.header {
    width: 75%;
}

img { 
    max-width: 40rem;
    margin-bottom: 5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {     
    .header {
        width: 100%;
    }
    
    img { 
        max-width: 25rem;
    }
}

