@import "./../../styles.scss";


.spacer {
    height: 8rem;
}

.mini-spacer {
    height: 4rem;
}

.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 768px) { 
    .container {
        width: 100%;
    }
    .overwrap {
        margin: 1rem;
        width: 90vw;
    }
    .spacer {
        display: none;
    }
}