@import "./../../styles.scss";

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.overwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0rem 0 8rem 10rem;
}

.spacer {
    height: 10rem;
}

.inner-container {
    width: 80%;
    display: flex;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    padding: 5rem;
}

a {
    width: 100%;
}
img {
    width: 100%;
    max-height: 100%;
}


