@import "./../../styles.scss";

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.overwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0rem 0 4rem 10rem;
}

.spacer {
    height: 8rem;
}

.inner-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 2rem;
}

.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    width: 100%;
}
img {
    width: 100%;
    //min-width: 20rem;
    max-height: 100%;
    
}


@media (max-width: 768px) { 
    .container {
        width: 100%;
        padding-bottom: 5rem;
    }
    .overwrap {
        margin: 1rem;
        width: 90vw;
    }
    .spacer {
        display: none;
    }

    .item {
        padding: 1rem;
    }

    img {
        min-width: 0;
    }
}