<div>
    <div class="container">
        <div class="overwrap">
            <div class="header">
                <div class="spacer"> </div>
                <h1>Our Games</h1>
                <p>Unser Game-Pool wächst stetig! Du findest dein Game nicht bei uns? Stelle es vor und hilf, unsere
                    Community
                    zu formen.</p>
            </div>
        </div>

        <div class="games">
            <div class="inner-container">
                <div class="item"><a href="https://www.rocketleague.com/de" alt="Rocket League"><img
                            src="./../../assets/img/game_logos/rl.svg" alt="Rocket League Logo"></a></div>
                <div class="item"><a href="https://playvalorant.com/" alt="Valorant"><img
                            src="./../../assets/img/game_logos/valo.png" alt="Valorant Logo"></a></div>
                <div class="item"><a href="https://www.ubisoft.com/en-gb/game/rainbow-six/siege"
                        alt="Rainbow 6 Siege"><img src="./../../assets/img/game_logos/r6.png"
                            alt="Rainbow 6 Siege Logo"></a></div>
            </div>
            <div class="inner-container">
                <div class="item"><a href="https://www.leagueoflegends.com/" alt="League of Legends"><img
                            src="./../../assets/img/game_logos/lol.png" alt="League of Legends Logo"></a></div>
                <div class="item"><a href="https://www.counter-strike.net/cs2" alt="Coutner Strike 2"><img
                            src="./../../assets/img/game_logos/cs2.png" alt="Counter Strike 2 Logo"></a></div>
                <div class="item">
                    <h1>und viele mehr!</h1>
                </div>
            </div>

        </div>
        <div>
            <div class="spacer"> </div>
        </div>
    </div>
</div>