<div>
    <div class="container">
        <div class="overwrap">
            <div class="header">
                <div class="spacer"> </div>
                <h1>Our Teams</h1>
                <p>Unsere Teams treten jedes Semester an der deutschlandweiten Uniliga an. Tritt ihnen bei oder gründe
                    dein eigenes! Join dafür dem Discord und nimm Kontakt zu der jeweiligen Ressortleitung auf. </p>
            </div>

            <div class="row">
                <div class="header">
                    <h2>League of Legends®</h2>
                </div>
                <div class="game">
                    <div class="team">
                        <img src="./../../assets/img/team_logos/Maschsee_Mantas_logo.png" alt="Maschsee Mantas">
                        <p>Maschsee Mantas</p>
                    </div>
                    <div class="team">
                        <img src="./../../assets/img/team_logos/Hl Logo negativ.PNG" alt="Hanover Lions">
                        <p>Hanover Lions</p>
                    </div>
                    <div class="team">
                        <img src="./../../assets/img/team_logos/heralds_logo.png" alt="Hannover Heralds">
                        <p>Heralds of Hannover</p>
                    </div>
                    <div class="team">
                        <img src="./../../assets/img/team_logos/LLHLogoneu.png" alt="Linden Leaf Hannover">
                        <p>Linden Leaf Hannover</p>
                    </div>
                </div>

                <div class="header">
                    <h2>Valorant®</h2>
                </div>
                <div class="game">
                    <div class="team">
                        <img style="width: 210px;" src="./../../assets/img/team_logos/ueh_washed.png" alt="UEH Washed">
                        <p>UEH Washed</p>
                    </div>
                    <div class="team">
                        <img style="width: 230px;" src="./../../assets/img/ueh_logo_white.png" alt="UEH LUH">
                        <p>UEH LUH</p>
                    </div>
                </div>

                <div class="header">
                    <h2>Rainbow 6 Siege®</h2>
                </div>
                <div class="game">
                    <div class="team">
                        <img src="./../../assets/img/team_logos/def_dadys.png" alt="ALWT">
                        <p>ALWT At least we tried</p>
                    </div>
                </div>

                <div class="header">
                    <h2>Rocket League®</h2>
                </div>
                <div class="game">
                    <div class="team">
                        <img style="width: 230px;" src="./../../assets/img/ueh_logo_white.png" alt="ALWT">
                        <p>Der UwEH ist auch dabei</p>
                    </div>
                </div>

                <div class="header">
                    <h2>Counterstrike 2®</h2>
                </div>
                <div class="game">
                    <div class="team">
                        <h2>coming soon!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
