<div class="container">
    <div class="column">
        <h1>Du studierst in Hannover?</h1>
        <p>Sei dabei! Uns erreichst du über unseren Discord, schreibe uns einfach eine Nachricht und stelle dich vor.
        </p>
        <p>Ob du in einem Team spielen willst oder bei Events dabei bist - </p>
        <div class="spacer-container">

            <button mat-flat-button class="discord-button"><a href="https://discord.gg/7S6DgP8GgE" alt="Discord">Join
                    our Discord</a></button>
        </div>
    </div>
    <div class="column">
        <h1>Der UEH</h1>
        <p>Der UEH ist eine studentische Vereinigung der Leibniz Universität Hannover. </p>
        <div class="spacer-container">
                <button mat-flat-button class="discord-button" (click)="navigate()">Erfahre mehr</button>
        </div>
    </div>
</div>