<div class="container">
    <div class="column">
        <div class="text">
            <h1>Du studierst in Hannover?</h1>
            <p>Sei dabei! Uns erreichst du über unseren Discord, schreibe uns einfach eine Nachricht und stelle dich
                vor.
            </p>
            <p>Ob du in einem Team spielen willst oder gerne bei Events dabei bist - bei uns findest du eine Community von Gleichgesinnten.
                <br>
                Tritt unserer eSports-Vereinigung bei und werde Teil unserer lebendigen Community in Hannover!
            </p>
        </div>
        <div class="spacer-container">

            <button mat-flat-button class="discord-button"><a href="https://discord.gg/7S6DgP8GgE" alt="Discord">Join
                    our Discord</a></button>
        </div>
    </div>
    <div class="column">
        <h1>Der UEH</h1>
        <p>Der UEH ist eine studentische Vereinigung der Leibniz Universität Hannover für alle Spielbegeisterten Studierenden der Stadt.<br> 
            Regelmäßig finden bei uns <strong>Events, Workshops und Turniere</strong> für verschiedenste Games statt.
            Die ein oder andere <strong>Kneipentour</strong> darf natürlich auch nicht fehlen! </p>
        <div class="spacer-container">
            <button mat-flat-button class="discord-button" (click)="navigate()">Erfahre mehr</button>
        </div>
    </div>
</div>