<div>
    <div class="overwrap">
        <div class="container">
            <div class="header">
                <div class="spacer"> </div>
                <h1>Our Community</h1>
                <p>UEH ist eine an der Leibniz Universität Hannover eingetragene studentische Vereinigung. Trotzdem
                    bieten wir eine übergreifende Community für Studierende aller Hochschulen Hannovers - <strong>egal, ob HSH, MHH, TiHo, HMTMH, FHDW oder Leibniz FH</strong>.</p>
                <div class="mini-spacer"></div>
                <p>Wir verstehen, dass die Universitätszeit mehr als nur Lernen bedeutet.
                    Es geht auch darum, neue Freunde zu finden, Interessen zu teilen und einzigartige Erfahrungen zu
                    sammeln.</p>
                <p>Deshalb setzen wir uns dafür ein, dass unsere Community ein Safe Space ist, in dem jeder und jede
                    sich frei und sicher fühlen kann,
                    sich selbst zu sein. <strong>Respekt, Toleranz und Inklusivität</strong> sind die Säulen, auf denen unsere
                    Gemeinschaft aufbaut.</p>
                <p>Egal, ob du dich in hitzigen Wettkämpfen messen, neue Spiele entdecken oder einfach nur in lockerer
                    Atmosphäre mit
                    Gleichgesinnten abhängen möchtest – University eSports Hannover bietet dir den Raum dafür. Wir
                    organisieren regelmäßige Events,
                    Turniere und Meet-ups, bei denen du nicht nur deine Fähigkeiten unter Beweis stellen, sondern auch
                    wertvolle Erinnerungen
                    sammeln kannst.</p>
                <p>Schließ dich uns an und werde Teil einer Community, die deine Leidenschaft für Gaming teilt. Entdecke
                        neue Spiele,
                        meistere Herausforderungen und finde Freunde fürs Leben. University eSports Hannover ist mehr als
                        nur
                        eine Vereinigung –
                        es ist ein Zuhause für alle, die ihre Liebe zum Gaming in einem unterstützenden und sicheren Umfeld
                        ausleben möchten.</p>
                        <p><span style="color: rgb(201, 9, 94); font-size:larger; font-weight: bold;">Wir freuen uns auf dich!</span></p>
                
            </div>
        </div>
    </div>
</div>