@import "./../../styles.scss";

.overwrap {
    width: 100%;
}


.mini-spacer {
    height: 2rem;
}

.header {
    width: 75%;
}


@media (max-width: 768px) {     
    .header {
        width: 100%;
    }
}