@import "./../../styles.scss";

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.overwrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0rem 0 4rem 10rem;
}

.spacer {
    height: 10rem;
}